:root {
  --clr-body: hsl(0, 0%, 95%);
  --clr-paragraph: hsl(0, 0%, 48%);
  --clr-accent: hsl(176, 50%, 47%);
  --clr-dark-cyan: hsl(176, 72%, 28%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-modal-open: hsla(0, 0%, 0%, .5);
  --clr-hr: hsla(0, 0%, 0%, .15);
  --clr-dark-gray: hsl(0, 0%, 18%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-bookmark-bg: 	hsla(176, 72%, 28%, 0.1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* commissioner-400 - latin */
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/commissioner-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/commissioner-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/commissioner-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/commissioner-v11-latin-regular.svg#Commissioner') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* commissioner-500 - latin */
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/commissioner-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/commissioner-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/commissioner-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/commissioner-v11-latin-500.svg#Commissioner') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* commissioner-700 - latin */
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/commissioner-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/commissioner-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/commissioner-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/commissioner-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/commissioner-v11-latin-700.svg#Commissioner') format('svg'); /* Legacy iOS */
  font-display: swap;
}


[data-animation='zoomInOut'] {-webkit-transform: scale(0.2);-ms-transform: scale(0.2);transform: scale(0.2);}

[data-animation='zoomInOut'].is-visible {-webkit-transform: none;-ms-transform: none;transform: none;}

body {
  background-color: var(--clr-body);
  font-family: 'Commissioner', sans-serif;
  font-size: clamp(0.875rem, 3vw, 1rem);
}

main {margin: 0 1.5rem;}

ul {list-style: none;}

a {text-decoration: none;}

h1,
h2,
h3 {color: var(--clr-black);}

p {
  color: var(--clr-paragraph);
  line-height: 171%;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--clr-accent);
}

.hero {
  background-image: url('../assets/images/image-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 45.625rem;
  margin: 0 auto;
  padding: 2.5rem 1.5rem 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 0.5rem;
}

.btn {
  border: none;
  border-radius: 2.09375rem;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.btn:focus {
  outline: none;
  border: 2px solid var(--clr-dark-cyan);
}

.btn:not(:disabled):not(.btn--disabled),
button:not(:disabled):not(.btn--disabled) {cursor: pointer;}

.btn--primary {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

.btn--disabled {
  pointer-events: none;
  background-color: var(--clr-paragraph);
}

.btn--lrg {
  font-size: 1rem;
  padding: 1.2em 2.3em;
}

.btn--md {
  font-size: 0.875rem;
  padding: 1em 2.15em;
}

.btn--sm {
  font-size: 0.875rem;
  padding: 1em 1em;
}

.br-8 {border-radius: 0.5rem;}

.br-33 {border-radius: 2.0625rem;}

.card {
  background-color: var(--clr-white);
  padding: 1.5rem;
  margin-top: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.card__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.card__title {font-size:clamp(0.875rem, 3vw, 1.125rem) ;}

.card__amount {
  color: var(--clr-accent);
  font-weight: 500;
}

.card__description {margin-top: 1.5rem;}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.card__products-num {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card__products-num--big {font-size: 2rem;}

.card__products-left {
  font-size: 0.9375rem;
  font-weight: 400;
}

.card--out-of-stock {opacity: 0.4;}

