@media screen and (min-width: 768px) {
  .btn:hover {
    background-color: var(--clr-dark-cyan);
  }

  .hero {background-image: url('../images/image-hero-desktop.jpg');}

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle__label {display: none;}

  .nav__list {
    display: flex;
    gap: 2.0625rem;
  }

  .mastercraft__footer {justify-content: space-around;}

  .backers__inner-wrapper {
    flex-direction: row;
    padding-left: 1.625rem;
    gap: 2.625rem;
  }

  .backers__rule {
    margin: 0;
    width: 0;
  }

  .card {padding: 2.375rem 2rem 0;}

  .card__flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card__inner-flex {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .card__header--desktop {
    position: absolute;
    top: 1.125rem;
    right: 1.75rem;
    display: flex;
    align-items: center; 
    gap: 0.5rem;
  }

  .back-project {
    top: 9.0625rem;
    margin: 0 auto;
  }

  .container {padding: 3rem;}

  .card--pledge {padding: 2.375rem 2rem 2rem;}

  .card--pledge__description {margin-left: 2.75rem;}

  .card--popup {padding: 1.5rem 1.75rem;}

  .card--popup__flex-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .thankyou {top: 18.75rem;}

  .card--thankyou {padding: 3rem;}
}